@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;500&display=swap');

html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #121212;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    text-align: justify;
}
h1{
    font-size: 70px;
    color: #DCC18B;
    font-weight: 500;
    text-shadow: 2px 4px 4px #373737;
    
}
h3{
    font-family: 'Roboto', sans-serif;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #bed67b;
}
h4{
    font-size: 55px;
}
h6{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
}
#header-container{
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
}
header .nav-link{
    font-weight: 500;
    color: #000000;
}
header .nav-link:hover{
    color: #6D9424;
    font-weight: 700px;
}
header .nav-link:active{
    color: #6D9424;
    font-weight: 700px;
}
.dropdown-menu:li {
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}
#nav1{
    margin-top: 8px;
}

#contact-button{
    background-color: #C6DC8B;
    border-radius: 5px;
    width: 120px;
    text-decoration: none;
}
  
#contact-button:hover{
    color: white;
    background-color: #6D9424;
    opacity: 100%;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.alert{
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#herocontent {
    background: url("img/bg1.png") repeat scroll center center/cover;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}
#hero .hero-content {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#take-action{
    margin-top: 100px;
}
#join-us{
    color: white;
}
.hero-content button{
    margin-top: 60px;
    color: #483D3C;
    background-color: #C6DC8B;
    border-radius: 5px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
}
  
.hero-content button:hover{
    color: white;
    background-color: #6D9424;
    opacity: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
/*--------------------------------------------------------------
# ABOUT
--------------------------------------------------------------*/
#we-are{
    margin-top: 30px;
}

/*--------------------------------------------------------------
# ADVOCACIES
--------------------------------------------------------------*/
.advocacies{
    background-color: rgba(240, 234, 210, 0.8);
}
#advo-icon{
    color: #6D9424;
}
#advo-card{
    background-color: rgb(253, 255, 247);
    border-radius: 10px;
    box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .3s ease-out;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
#advo-card:hover{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .3s ease-in;
}
/*--------------------------------------------------------------
# EFFECTS
--------------------------------------------------------------*/
#effects-title{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}
#effects-card{
    border-left: solid 2px rgba(169, 132, 103, 0.2);
    height: 400px;
}
#line{
    border-left: solid 5px #6D9424;
    margin-left: -17px;
    padding-left: 10px;
}
#effects-card2{
    border-left: solid 2px rgba(169, 132, 103, 0.2);
    height: 420px;
}

/*--------------------------------------------------------------
# PETITION FORM
--------------------------------------------------------------*/
.sierramadre{
    font-size: 40px;
}
.signthepetition{
    font-size: 28px;
    color: #483D3C;
}
.petition-box{
    margin-top: -550px;
}
#petition-sierra{
    position: absolute;
}
#petition-card{
    background: rgb(211,229,162);
    background: linear-gradient(180deg, rgba(211,229,162,1) 37%, rgba(169,132,103,1) 100%);
    border-radius: 10px;
    margin-top: -360px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.petition form input{
    color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
}
#petition-button{
    background-color: #C6DC8B;
    border-radius: 5px;
    width: 150px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
}
#petition-button:hover{
    color: white;
    background-color: #6D9424;
    opacity: 100%;
    text-decoration: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
/*--------------------------------------------------------------
# LAWS
--------------------------------------------------------------*/
#law-title{
    margin-top: 15px;
    font-weight: 500;
}
/*--------------------------------------------------------------
# PARALLAX SCROLL / PARTNERSHIP
--------------------------------------------------------------*/
.parallax-scroll{
    margin-top: 80px;
}
.parallax-content{
    background: url(img/parallax-pix.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 45vh;
    margin: 0 auto; 
    position: relative;  
}
#partnershipwith{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px #373737;
}
.partnership button{
    margin-top: 60px;
    color: #483D3C;
    background-color: #C6DC8B;
    border-radius: 5px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
  
.partnership button:hover{
    color: white;
    background-color: #6D9424;
    opacity: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/*--------------------------------------------------------------
# PROJECT
--------------------------------------------------------------*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #373737;
    font-weight: 500;
    font-size: 20px;
}

/*--------------------------------------------------------------
# MEMBERSHIP
--------------------------------------------------------------*/
.membership{
    background: url(img/membership-bg.png);
}
#looking{
    color: white;
    text-shadow: 2px 2px 4px #373737;
    margin-top: 25px;
    font-size: 50px;
}
#ctf-email{
    margin-top: 50px;
}

.membership h6{
    color: white;
    text-shadow: 2px 2px 4px #373737;
}
#membership-card{
    background: rgb(198,220,139);
    background: linear-gradient(180deg, rgba(198,220,139,1) 43%, rgba(109,148,36,1) 100%);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.membership form input{
    color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
}
#membership-button{
    background-color: #DCC18B;
    color: #6C584C;
    border-radius: 5px;
    width: 150px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
}
#membership-button:hover{
    color: #DCC18B;
    background-color: #6C584C;
    opacity: 100%;
    text-decoration: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

/*--------------------------------------------------------------
# TESTIMONALS
--------------------------------------------------------------*/
.testimonials #quote img{
    width: 50px;
}
.testimonials .author-img img {
      width: 70px !important;
      height: auto;
      border-radius: 10px;
  }
  .testimonials h5{
    color: #6D9424;
  }
  .testimonials .font-medium {
      font-weight: 500;
  }
  .testimonials .border-radius-new {
      border-radius: 8px;
      background-color: rgba(169, 132, 103, 0.2);
  }
  .testimonials img.comms {
      width: 40px !important;
      height: auto;
  }
  .testimonials #quote{
    color: #634C3E;
  }
  
  .testimonials #quote:hover {
    transform: translateY(-5px);
    background: rgba(198, 220, 139, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
    
    [id*=quote]{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer{
    margin-top: 80px;
}
.footer img{
    border-radius: 100%;
}
.bg-footer {
    background-color: #C6DC8B;
    padding: 50px 0 0px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    font-family: 'Roboto', sans-serif;
    color: #6C584C;
    line-height: 30px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #373737;
    text-decoration: none;
    font-weight: 500;
}


.footer-heading {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 55px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 2px solid #A98467;
}
.footer-2{
    background: #A98467;
    color: white;
}
.footer-alt{
    padding: 10px;
}
#contact-font{
    font-family: 'Roboto', sans-serif;
}
/*SOCIAL MEDIA*/
.social-profile img{
    padding: 0px;
    margin-top: 8px;
    height: 25px;
    border-radius: 0;
}
.social-profile ul{
    list-style: none;
}
.social-profile ul li{
    list-style: none;
    display: inline;
}